h1{
    font-size: 50px;
    font-family: 'Roboto Slab', serif;
}
.blue-violet{
    color: blueviolet;
}
.link-button{
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 15px 30px;
    border-radius: 25px;
    background-image: linear-gradient(blueviolet,red)
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 80%;
}
.middle-banner{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
}
.female{
    width: 50%;
    padding-left: 15%;
    padding-top: 5%;
}
.female img{
    width: 60%;
}
.about-section{
    width: 50%;
    padding-right: 10%;
    padding-top: 10%;
}
.centered-text{
    text-align: center;
}
.recipies{
    padding-top: 50px;
    padding-bottom: 30px;
}
.box-image{
    width:100%;
    padding: 20px;
    box-shadow: 10px 10px 40px gray;
    border-radius: 30px;
    margin-left: 20px;
    margin-right: 20px;
}
img{
    width: 100%;
}
.recipie-item{
    text-align: left;
}
h3{
    font-size: 30px;
}
.popularity{
    width: 95%;
    box-shadow: 10px 10px 40px gray;
    margin-left: 2.5%;
    margin-top: 50px;
    border-radius: 15px;
    margin-bottom: 50px;
    
}
.text-section{
    width: 30%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 150px;
}
footer{
    margin-top: 20px;
    height: 200px;
    text-align: center;
    background-color: black;
    color: gray;
    margin-bottom: 30px;
}
#footer-title{
    padding-top: 30px;
}
span{
    color: orange;
}
#footer-para{
    color: white;
}
h2{
    color: rgb(95, 94, 94);
    font-size: 40px;
}